.descript-title {
  display: flex;
  justify-content: center;
  align-items: center;
  h1 {
    font-size: 80px;
    font-family: "Poppins", sans-serif;
    width: 643px;
    font-size: 4.5rem;
    font-weight: 500;
    line-height: 5.8rem;
    letter-spacing: -2px;
    text-align: left;
  }

  span {
    //styleName: Body 2 (Semi);
    font-family: "Inter", sans-serif;
    font-size: 1rem;
    font-weight: 600;
    line-height: 2rem;
    letter-spacing: 0px;
    text-align: left;
    color: $black;
  }

  p {
    //styleName: Body 2 (Semi);
    font-family: "Inter", sans-serif;
    color: $grey;
    font-size: 1rem;
    font-weight: 600;
    line-height: 26px;
    letter-spacing: 0px;
    text-align: left;
  }
}

.products-container {
  margin-top: 35px;
  display: flex;
  flex-wrap: wrap;
}

@media screen and (max-width: 920px) {
  .descript-title {
    flex-wrap: wrap;
    text-align: center;
    border: 1px solid;
    justify-content: center;
    align-items: center;
  }
}

.products {
  display: flex;
  gap: 24px;
  margin-top: 40px;
}

.product-flex {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.product {
  position: relative;
  p {
    position: absolute;
    top: 48px;
    left: 48px;
    font-family: "Poppins", sans-serif;
    color: #141718;
    font-size: 34px;
    font-weight: 500;
    line-height: 38px;
    letter-spacing: -0.6000000238418579px;
    text-align: left;
  }

  a {
    position: absolute;
    top: 98px;
    left: 48px;
    display: flex;
    align-items: center;
    color: #141718;
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: -0.4000000059604645px;
    text-align: left;
  }
}

