* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.wrapper {
  max-width: 1120px;
  margin: auto;
}

ul {
  list-style-type: none;
}

.header .head__first-part {
  display: flex;
  gap: 12px;
  align-items: center;
  justify-content: center;
  background-color: #f3f5f7;
  padding-top: 8px;
  padding-bottom: 8px;
  font-size: 0.874rem;
}
.header .head__first-part p {
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 600;
  line-height: 22px;
  letter-spacing: 0px;
  text-align: center;
}
.header .head__first-part a {
  display: inline-flex;
}
.header .head__second-part {
  display: flex;
  justify-content: space-between;
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
  align-items: center;
}
.header .head__second-part a {
  text-decoration: none;
}
.header .head__second-part nav ul {
  display: flex;
  gap: 40px;
  text-transform: capitalize;
}
.header .head__second-part nav ul li a {
  color: #6c7275;
  font-weight: 500;
  font-size: 0.875rem;
}
.header .head__second-part nav ul li:first-of-type a {
  color: #141718;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 0.875rem;
}
.header .head__second-part .icon-container {
  display: flex;
  gap: 16px;
}

.material-symbols-outlined {
  display: none;
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
}

.image-container {
  position: relative;
  display: block; /* Ensures container takes up only as much space as needed */
  width: min(95vw, 1120px);
  margin: auto;
}

@media screen and (max-width: 550px) {
  .image-container {
    position: relative;
    display: block;
    width: min(95vw, 1120px);
    margin: auto;
  }
  nav {
    display: none;
  }
  .material-symbols-outlined {
    display: block;
    cursor: pointer;
  }
  .icon-container a {
    display: none;
  }
  .icon-container a:last-child {
    display: block;
  }
  .head__first-part {
    font-size: 0.6rem;
    flex-wrap: wrap;
  }
}
.make-inline {
  display: flex;
  gap: 4px;
}

#close {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 10px;
  font-size: 17px;
}

dialog {
  position: relative;
  width: 40vw;
  height: 100vh;
  padding-left: 20px;
  padding-top: 20px;
}
dialog nav {
  display: block;
}
dialog .icon-container a {
  display: inline;
}

.descript-title {
  display: flex;
  justify-content: center;
  align-items: center;
}
.descript-title h1 {
  font-size: 80px;
  font-family: "Poppins", sans-serif;
  width: 643px;
  font-size: 4.5rem;
  font-weight: 500;
  line-height: 5.8rem;
  letter-spacing: -2px;
  text-align: left;
}
.descript-title span {
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  font-weight: 600;
  line-height: 2rem;
  letter-spacing: 0px;
  text-align: left;
  color: #141718;
}
.descript-title p {
  font-family: "Inter", sans-serif;
  color: #6c7275;
  font-size: 1rem;
  font-weight: 600;
  line-height: 26px;
  letter-spacing: 0px;
  text-align: left;
}

.products-container {
  margin-top: 35px;
  display: flex;
  flex-wrap: wrap;
}

@media screen and (max-width: 920px) {
  .descript-title {
    flex-wrap: wrap;
    text-align: center;
    border: 1px solid;
    justify-content: center;
    align-items: center;
  }
}
.products {
  display: flex;
  gap: 24px;
  margin-top: 40px;
}

.product-flex {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.product {
  position: relative;
}
.product p {
  position: absolute;
  top: 48px;
  left: 48px;
  font-family: "Poppins", sans-serif;
  color: #141718;
  font-size: 34px;
  font-weight: 500;
  line-height: 38px;
  letter-spacing: -0.6000000238px;
  text-align: left;
}
.product a {
  position: absolute;
  top: 98px;
  left: 48px;
  display: flex;
  align-items: center;
  color: #141718;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: -0.400000006px;
  text-align: left;
}/*# sourceMappingURL=style.css.map */